@model TelcoTestAsp.Models.SearchViewModel

@{
    ViewData["Title"] = "Task: " + ((TelcoTestAsp.Models.Task)Model.ViewModel).Name;
}


<div class="row">
    <div class="col">
        <h3>@(((TelcoTestAsp.Models.Task)Model.ViewModel).Name)</h3>
    </div>
    <div class="col">
        <h3>From: @(((TelcoTestAsp.Models.Task)Model.ViewModel).Start_date.ToShortDateString())</h3>
    </div>
    <div class="col">
        <h3>To: @(((TelcoTestAsp.Models.Task)Model.ViewModel).End_date.ToShortDateString())</h3>
    </div>
    <div class="col">
        <h3>Status: @(((TelcoTestAsp.Models.Task)Model.ViewModel).Status)</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-outline-primary" asp-controller="Task" asp-action="Update" asp-route-idTask="@(((TelcoTestAsp.Models.Task)Model.ViewModel).Id)"><i class="bi bi-pencil-square"></i> Change task</a>
        <a class="btn btn-outline-danger" asp-controller="Task" asp-action="Delete" asp-route-idTask="@(((TelcoTestAsp.Models.Task)Model.ViewModel).Id)"><i class="bi bi-trash"></i> Delete task</a>
    </div>
</div>
<hr />
<h2>Description:</h2>
<h4>@(((TelcoTestAsp.Models.Task)Model.ViewModel).Description)</h4>
<hr />
@if (((TelcoTestAsp.Models.Task)Model.ViewModel).TaskElements is null && ((TelcoTestAsp.Models.Task)Model.ViewModel).TaskElements.Count == 0)
{
    <h4>List element task empty. <a asp-controller="Element" asp-action="Create" asp-route-idTask="@(((TelcoTestAsp.Models.Task)Model.ViewModel).Id)">Create element fot task.</a></h4>
}
else
{
    <nav class="navbar navbar-light bg-light">
        <a class="btn btn-outline-success" asp-controller="Element" asp-action="Create" asp-route-idTask="@(((TelcoTestAsp.Models.Task)Model.ViewModel).Id)"><i class="bi bi-clipboard-plus"></i> Create element</a>
        <form class="form-inline" asp-controller="Task" asp-action="Search" asp-route-idTask="@(((TelcoTestAsp.Models.Task)Model.ViewModel).Id)" method="post">
            <input class="form-control mr-sm-2" asp-for="SearchModel.Query" type="search" placeholder="Search elements" aria-label="Search elements">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <h4>Result task elements of: @Model.SearchModel.Query</h4>
    @foreach (TaskElement taskElement in ((TelcoTestAsp.Models.Task)Model.ViewModel).TaskElements)
    {
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">@taskElement.Name</h4>
            <p>
                @taskElement.Description
            </p>
            <hr />
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-primary" asp-controller="Element" asp-action="Update" asp-route-idElement="@taskElement.Id"><i class="bi bi-pencil-square"></i> Change element</a>
                    <a class="btn btn-outline-danger" asp-controller="Element" asp-action="Delete" asp-route-idElement="@taskElement.Id"><i class="bi bi-trash"></i> Delete element</a>
                </div>
            </div>
            <hr />
            <p class="mb-0">Value: @taskElement.Value</p>
        </div>
    }
}
