@model TelcoTestAsp.Models.TaskViewModel

@{
    ViewData["Title"] = "Task: " + Model.Task.Name;
}


<div class="row">
    <div class="col">
        <h3>@Model.Task.Name</h3>
    </div>
    <div class="col">
        <h3>From: @Model.Task.Start_date.ToShortDateString()</h3>
    </div>
    <div class="col">
        <h3>To: @Model.Task.End_date.ToShortDateString()</h3>
    </div>
    <div class="col">
        <h3>Status: @Model.Task.Status</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <a class="btn btn-outline-primary" asp-controller="Task" asp-action="Update" asp-route-idTask="@Model.Task.Id"><i class="bi bi-pencil-square"></i> Change task</a>
        <a class="btn btn-outline-danger" asp-controller="Task" asp-action="Delete" asp-route-idTask="@Model.Task.Id"><i class="bi bi-trash"></i> Delete task</a>
    </div>
</div>
<hr />
<h2>Description:</h2>
<h4>@Model.Task.Description</h4>
<hr />
@if (Model.TaskElements is null && Model.TaskElements.Count == 0)
{
    <h4>List element task empty. <a asp-controller="Element" asp-action="Create" asp-route-idTask="@Model.Task.Id">Create element fot task.</a></h4>
}
else
{
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-success" asp-controller="Element" asp-action="Create" asp-route-idTask="@Model.Task.Id"><i class="bi bi-clipboard-plus"></i> Create element for task</a>
        </div>
    </div>
    <hr />
    @foreach (TaskElement taskElement in Model.TaskElements)
    {
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">@taskElement.Name</h4>
            <p>
                @taskElement.Description
            </p>
            <hr />
            <div class="row">
                <div class="col">
                    <a class="btn btn-outline-primary" asp-controller="Element" asp-action="Update" asp-route-idElement="@taskElement.Id"><i class="bi bi-pencil-square"></i> Change element</a>
                    <a class="btn btn-outline-danger" asp-controller="Element" asp-action="Delete" asp-route-idElement="@taskElement.Id"><i class="bi bi-trash"></i> Delete element</a>
                </div>
            </div>
            <hr />
            <p class="mb-0">Value: @taskElement.Value</p>
        </div>
    }

    <nav>
        <ul class="pagination justify-content-center">
            @if (Model.PageViewModel.PageNumber != 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Task" asp-action="TaskInfo" asp-route-idTask="@Model.Task.Id" asp-route-page="1">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @{
                for (int i = 1; i < Model.PageViewModel.TotalPages + 1; i++)
                {
                    <li class="page-item @(Model.PageViewModel.PageNumber == i ? "active" : "")">
                        <a class="page-link" asp-controller="Task" asp-action="TaskInfo" asp-route-idTask="@Model.Task.Id" asp-route-page="@i">@i</a>
                    </li>
                }
            }
            @if (Model.PageViewModel.PageNumber != Model.PageViewModel.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Task" asp-action="TaskInfo" asp-route-idTask="@Model.Task.Id" asp-route-page="@(Model.PageViewModel.TotalPages)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
}
